<a href="https://colab.research.google.com/github/gtoubian/cce/blob/main/1_6_Python_Classes_Pre_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Classes

You may notice when printing the type that it outputs `<class 'type'>`.

In [ ]:
x = [1,2,34]
print(type(x))

<class 'list'>

A `class` is the actual type. On the other hand, the actual python object `x` is called an **instance**.

So we can say "5 is an instance of an integer" in the same way a mathematician would say "5 is an element of the set of integers".

In [ ]:
x= int(5)
x

5

Classes generally have functions that are directly tied to the object. These are called `methods`:

In [ ]:
text = "Am I shouting this text?"
print(text.upper(), 'Yes:)')
print(text.lower(), 'No :(')

AM I SHOUTING THIS TEXT? Yes:)
am i shouting this text? No :(

Why would we use methods instead of "free floating functions"?

The main reason is **stylistic**. In english, it's normal for to have `subject verb object` form (eg. "I ate an apple").

So calling a method: `me.eat(apple)` is closer to this format than free-floating functions `eat(me, apple)` which go `verb subject object`.

You can see this in math notation, too. `a + b` is easier to read than `+(a, b)`.

Some programming languages (C for example) don't support methods. Some programming languages (like Lisp) force the `verb object subject` form to enable advanced features (like code-as-data metaprogramming).

Another advantage is *method chaining*, which you've been doing in pandas:

In [ ]:
import pandas as pd

url = 'https://ckan0.cf.opendata.inter.prod-toronto.ca/download_resource/9f39c3d4-5946-4bf6-89d5-f4008a898f9c?format=csv&projection=4326'

df = pd.read_csv(url)

In [ ]:
df.groupby(['WARD', 'BIA'])['_id'].agg('count')

WARD  BIA
1.0   Albion Islington Square         4
2.0   Village of Islington            2
3.0   Lakeshore Village              72
      Long Branch                    21
      Mimico By The Lake             37
                                   ...
19.0  Danforth Mosaic               160
      Danforth Village               92
      The Beach                     151
20.0  Crossroads of the Danforth     30
21.0  Wexford Heights                19
Name: _id, Length: 103, dtype: int64

In [ ]:
df.head()

       _id  ...                                           geometry
0  1325907  ...  {u'type': u'Point', u'coordinates': (-79.41149...
1  1325908  ...  {u'type': u'Point', u'coordinates': (-79.49983...
2  1325909  ...  {u'type': u'Point', u'coordinates': (-79.50421...
3  1325910  ...  {u'type': u'Point', u'coordinates': (-79.40012...
4  1325911  ...  {u'type': u'Point', u'coordinates': (-79.36478...

[5 rows x 20 columns]

# Let's define our first class!

The classic example for classes is to make a `BankAccount` class which accepts `withdraw` and `deposit`

In [ ]:
class BankAccount():
  def __init__(self, initial_deposit=0):
    self.balance = initial_deposit
  def deposit(self, x):
    self.balance += x
  def withdraw(self, x):
    self.balance -= x

Let's go through this:

The `class` keyword declares that you're building a class

The `deposit` and `withdraw` methods do what we'd expect, they add or remove money from the account.

The keyword `self` refers to the object itself. There are a couple of rules around this keyword:

- Methods on an instance of the class need to have `self` as the first argument. It's ignored once you call it, but necessary to differentiate methods from functions.

- The data that the class holds should be intialized with `self.data = ...` in the `__init__` function.

The `__init__` is a special function called the *constructor* to initialize an instance of the class. So when we call:

In [ ]:
account = BankAccount(5)

account.withdraw(2)
print('Remaining balance: $', account.balance)

Remaining balance: $ 3

The instance `account` is initialized with the value in the constructor.

There are a few other "special" class methods, they're all reserved by `__underscores__`. Here are a few other examples:

- The `+` operation is implemented by `def __add__(self, other)`

- The `-` operation is implemented by `def __sub__(self, other)`

- The `<` operation is implemented by `def __lt__(self, other)`

- The `>=` operation is implemented by `def __ge__(self, other)`

For instance we can add a few to our `BankAccount` class:

In [1]:
class BankAccount():
  def __init__(self, initial_deposit):
    self.balance = initial_deposit
  def __add__(self, x):
    return self.balance + x
  def __sub__(self, x):
    return self.balance - x
account = BankAccount(5)
account + 5

10

**Fun Fact:** Python classes are really just `Dict` objects under the hood. You can access it with the `__dict__` parameter:

In [ ]:
account.__dict__

{'balance': 5}

# Subclasses

Classes can "inherit" other classes' attributes data and methods.

We do this by declaring which class we want to inherit from in the parenthesis after the class name when we're declaring our class:

In [ ]:
#We steal all the functionality from the float class

class FloatAccount(float):
  pass #Pass is a special keyword that means "No Code"

account = FloatAccount(5)
account*10

50.0

The point of inheriting is to re-use code that fits together.

For instance, if you were writing a video game with animals, you might write a class `Animal` that has the common behavior across animals (say eating and sleeping) then we could write classes for a `Dog` and a `Cat`, which would have behaviors specialized to them.

In [ ]:
class Animal():
  def sleep(self):
    print('zzzz')

  def eat(self):
    print('Chomp Chomp Chomp')

class Dog(Animal):
  def bark(self):
    print('woof woof')

class Cat(Animal):
  def meow(self):
    print('meow meow')

  def Act_Condescending(self):
    print('I am a cat')

class Kitten(Cat):
  def cute(self):
    print('feed me')

In [ ]:
rex = Dog()
rex.sleep()

whiskers = Cat()
whiskers.meow()

maya = Kitten()
maya.sleep()

zzzz
meow meow
zzzz


This inheritance works as an "is a" relationship. 

For instance we can say that a `Dog` is an `Animal`. Of course we can't say the reverse (animals aren't necessarily dogs)

In [ ]:
#isinstance checks if an object is an instance of a class
#since all Dogs are Animals, this is True

isinstance(rex,Animal)

True

Some classes are effectively subsets of each other. For instance we could define a superset hierarchy of mathematical numbers :

$$ \mathbb{R} \supset \mathbb{Q} \supset \mathbb{Z} \supset \mathbb{N}$$

Which means natural numbers are a subset of all integers, which are themselves a subset of all possible fractions.

($\mathbb{Q}$ is for *Quotients*, the set of all possible fractions of two integers. $\mathbb{Z}$ is the set of all integers. Let's all pretend $\mathbb{I}$ was busy that day)

This means we can always make a real number from a fraction, and we can always make a fraction from an integer, etc. But the *reverse isn't true*.

Even though this hierarchy is mathematically true, python didn't implement it this way:

In [ ]:
isinstance(5, float)

False

This is because when python was initially made, all fundamental numeric types in python were made *specialized* instead of in a hierarchy.