<a href="https://colab.research.google.com/github/gtoubian/cce/blob/main/2_3_Applied_Interview_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In today's lecture we will be looking at a few interview problems. I will ask 3 SQL questions, 1 probability questions and 2 Python Questions.

#SQL

Write a SQL query to rank scores. If there is a tie between two scores, both should have the same ranking. Note that after a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no "holes" between ranks.



```
+----+-------+
| Id | Score |
+----+-------+
| 1  | 3.50  |
| 2  | 3.65  |
| 3  | 4.00  |
| 4  | 3.85  |
| 5  | 4.00  |
| 6  | 3.65  |
+----+-------+
```
For example, given the above Scores table, your query should generate the following report (order by highest score):



```
+-------+---------+
| score | Rank    |
+-------+---------+
| 4.00  | 1       |
| 4.00  | 1       |
| 3.85  | 2       |
| 3.65  | 3       |
| 3.65  | 3       |
| 3.50  | 4       |
+-------+---------+
```

In [ ]:
import pandas as pd
import sqlite3 as sql
conn = sql.connect('example.db')
c= conn.cursor()

df = pd.DataFrame(([[1, 3.50], [2, 3.65], [3, 4.00], [4, 3.85], [5, 4.00], [6, 3.65]]),
                   columns=['Id', 'Score'])
df.to_sql('Scoring', con=conn)

In [ ]:
df.head(6)

   Id  Score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65

In [ ]:
pd.read_sql('SELECT b.score, (SELECT COUNT(DISTINCT a.Score) FROM Scoring a WHERE b.Score <= a.Score) as `Rank`\
             FROM Scoring as b ORDER BY `Rank`', con=conn)

   Score  Rank
0   4.00     1
1   4.00     1
2   3.85     2
3   3.65     3
4   3.65     3
5   3.50     4

Given two tables, publisher_info and consumption_info, as:



```
+----------------+
| publisher_info |
+----------------+
| -publisher_id  |
| -video_id      |
| -video_duration|
+----------------+
```


```
+------------------+
| consumption_info |
+------------------+
| -video_id        |
| -user_id         |
| -user_timespent  |
+------------------+
```

Write Queries to determine:

A) How many minutes worth of video does an average publisher have?

B) How many publishers have at least one user who watched their videos?

In [ ]:
'''
SELECT SUM(video_duration)/count(distinct publisher_id)
FROM publisher_info
'''

'''
SELECT COUNT(DISTINCT publisher_id)
FROM publisher_info as a
INNER JOIN consumption_info as b
ON a.video_id = b.video_id
'''

#Probability

We have a model that can predict with 99% accuracy whether a TV series on Webflix will be a hit or not. Given that in reality, only 1% of shows on Webflix become hits, what is the probability that given the model predicting that a show will be a hit, that the show is actually a hit?

**HINT** Think Bayes Theorem and Law of Total Probability

In [ ]:
'''
P(Show is a Hit| Positive from Model) = P(Show is a Hit)*P(Positive from Model|Show is a Hit)/P(Positive From Model)
                                      = [P(Show is a Hit)*P(Positive from Model|Show is a Hit)]/[P(Show is a hit)*P(Positive from Model|Show is a Hit) + P(Show is Flop)*P(Positive from Model|Show is a Flop)]
                                      = [1% * 99%]/[1% * 99% + 1% * 99%]
                                      = 50%

#Python

There are a total of numCourses courses you have to take, labeled from 0 to numCourses - 1. You are given an array prerequisites where prerequisites[i] = [ai, bi] indicates that you must take course bi first if you want to take course ai.

For example, the pair [0, 1], indicates that to take course 0 you have to first take course 1.
Return true if you can finish all courses. Otherwise, return false.

Example 1:



```
Input: numCourses = 2, prerequisites = [[1,0]]
Output: true
Explanation: There are a total of 2 courses to take. 
To take course 1 you should have finished course 0. So it is possible.
```

Example 2:



```
Input: numCourses = 2, prerequisites = [[1,0],[0,1]]
Output: false
Explanation: There are a total of 2 courses to take. 
To take course 1 you should have finished course 0, and to take course 0 you should also have finished course 1. So it is impossible.
```

In [ ]:
class Solution(object):
    def canFinish(self, numCourses, prerequisites):
        """
        :type numCourses: int
        :type prerequisites: List[List[int]]
        :rtype: bool
        """
        def dfs(i):
            color[i] = 1
            if i in graph:
                for j in graph[i]:
                    if color[j] == 0:
                        if not dfs(j):
                            return False
                    elif color[j] == 1:
                        return False
            color[i] = 2
            return True
                            
        graph = {}
        for pair in prerequisites:
            if pair[1] in graph:
                graph[pair[1]].add(pair[0])
            else:
                graph[pair[1]] = set([pair[0]])			
        color = [0]*numCourses
        for i in range(numCourses):
            if color[i] == 0:
                if not dfs(i):
                    return False
        return True

In [ ]:
numCourses = 2 
prerequisites = [[1,0]]

S = Solution()
S.canFinish(numCourses, prerequisites)

True

Convert a non-negative integer num to its English words representation.



```
Input: num = 123
Output: "One Hundred Twenty Three"
```



```
Input: num = 1234567
Output: "One Million Two Hundred Thirty Four Thousand Five Hundred Sixty Seven"
```



```
Input: num = 1234567891
Output: "One Billion Two Hundred Thirty Four Million Five Hundred Sixty Seven Thousand Eight Hundred Ninety One"
```

In [ ]:
class Solution:
    def numberToWords(self, num: int) -> str:
        single_map = {
            1: "One",
            2: "Two",
            3: "Three",
            4: "Four",
            5: "Five",
            6: "Six",
            7: "Seven",
            8: "Eight",
            9: "Nine",
            10: "Ten",
            11: "Eleven",
            12: "Twelve",
            13: "Thirteen",
            14: "Fourteen",
            15: "Fifteen",
            16: "Sixteen",
            17: "Seventeen",
            18: "Eighteen",
            19: "Nineteen"
        }
    
        double_map = {
            2: "Twenty",
            3: "Thirty",
            4: "Forty",
            5: "Fifty",
            6: "Sixty",
            7: "Seventy",
            8: "Eighty",
            9: "Ninety" }
        
        cents = ["thousand","million","billion"]
        
        def get_word(num_str): 
            """perform arithmetic in sets of three
            """
            num = int(num_str)
            if num == 0:
                return ""
            if  1 <= num <= 19: # single digit
                return single_map[num]
            elif  20 <= num <= 99:
                num_str = str(num)
                current_num = int(num_str[0])
                buffer = double_map[current_num]                
                return (buffer + " "+ get_word(num_str[1:])).strip()       
            elif  100 <= num <= 999:
                num_str = str(num)                
                current_num = int(num_str[0])
                buffer = single_map[current_num]
                final_value = buffer + " Hundred " + get_word(num_str[1:]) 
                return final_value.strip()
                
        # break the number into 3 sets (international repr)
        if num == 0:
            return "Zero"
        num_str = str(num)
        buffer = ""
        count = 0
        while num_str:
            temp =  get_word(num_str[-3:])
            if count < 3:
                buffer = temp + buffer                
            elif  count == 3 and temp:
                buffer = temp + " Thousand " + buffer            
            elif count == 6 and temp:
                buffer = temp + " Million " + buffer
            elif count == 9 and temp:
                buffer = temp + " Billion " + buffer
            buffer = buffer.strip()
            num_str = num_str[:-3]            
            count += 3
        
        return buffer.strip()

In [ ]:
num = 123
S=Solution()
S.numberToWords(num)

'One Hundred Twenty Three'