<a href="https://colab.research.google.com/github/gtoubian/cce/blob/main/3_5_PySpark_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Warmup
Import the numpy, pandas, matplotlib and pyspark packages in the cell below.

In [8]:
!pip install pyspark
from pyspark.sql import SparkSession
import pandas as pd
import matplotlib.pyplot as plt

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 65kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 18.6MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=fdfabcc9eb8fa548598eb0c5a2d1e128ceff39c4a65549be3806b44a352abcec
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

#Exercise
We are going to be using data on Student Performance during exams. Obtain the data from the following url and set up a Schema for it which you will load into pySpark. https://www.kaggle.com/spscientist/students-performance-in-exams. Set up the PySpark object and create a DataFrame on PySpark for the dataset.

In [9]:
from google.colab import files
data = files.upload()

Saving StudentsPerformance.csv to StudentsPerformance.csv

In [17]:
my_spark = SparkSession.builder.getOrCreate()

In [22]:
from pyspark.sql.types import *

data_schema = [
               StructField('gender', StringType(), True),
               StructField('race/ethnicity', StringType(), True),
               StructField('parental level of education', StringType(), True),
               StructField('lunch', StringType(), True),
               StructField('test preparation course', StringType(), True),
               StructField('math score', IntegerType(), True),
               StructField('reading score', IntegerType(), True),
               StructField('writing score', IntegerType(), True),

            ]

final_struc = StructType(fields = data_schema)

data = spark.read.csv('StudentsPerformance.csv',sep = ',', header = True, schema = final_struc)

In [23]:
data.show(10)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|
|female|       group B|         associate's degree|    standard|                   none|        71|           83|           78|
|female|       group B|               some college|    standard|              completed|        88|           95|           92|
|  male|       group B|               some college|free/reduced|                   none|        40|           43|           39|
|  male|       group D|                high school|free/reduced|              completed|        64|           64|           67|
|female|       group B|                high school|free/reduced|                   none|        38|           60|           50|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 10 rows

Get an average score for each student using their math, reading and writing scores.

In [24]:
from pyspark.sql.functions import col

marksColumns = [col('math score'), col('reading score'), col('writing score')]

averageFunc = sum(x for x in marksColumns)/len(marksColumns)

data.withColumn('Average(Avg)', averageFunc).show(truncate=False)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+------------------+
|gender|race/ethnicity|parental level of education|lunch       |test preparation course|math score|reading score|writing score|Average(Avg)      |
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+------------------+
|female|group B       |bachelor's degree          |standard    |none                   |72        |72           |74           |72.66666666666667 |
|female|group C       |some college               |standard    |completed              |69        |90           |88           |82.33333333333333 |
|female|group B       |master's degree            |standard    |none                   |90        |95           |93           |92.66666666666667 |
|male  |group A       |associate's degree         |free/reduced|none                   |47        |57           |44           |49.333333333333336|
|male  |group C       |some college               |standard    |none                   |76        |78           |75           |76.33333333333333 |
|female|group B       |associate's degree         |standard    |none                   |71        |83           |78           |77.33333333333333 |
|female|group B       |some college               |standard    |completed              |88        |95           |92           |91.66666666666667 |
|male  |group B       |some college               |free/reduced|none                   |40        |43           |39           |40.666666666666664|
|male  |group D       |high school                |free/reduced|completed              |64        |64           |67           |65.0              |
|female|group B       |high school                |free/reduced|none                   |38        |60           |50           |49.333333333333336|
|male  |group C       |associate's degree         |standard    |none                   |58        |54           |52           |54.666666666666664|
|male  |group D       |associate's degree         |standard    |none                   |40        |52           |43           |45.0              |
|female|group B       |high school                |standard    |none                   |65        |81           |73           |73.0              |
|male  |group A       |some college               |standard    |completed              |78        |72           |70           |73.33333333333333 |
|female|group A       |master's degree            |standard    |none                   |50        |53           |58           |53.666666666666664|
|female|group C       |some high school           |standard    |none                   |69        |75           |78           |74.0              |
|male  |group C       |high school                |standard    |none                   |88        |89           |86           |87.66666666666667 |
|female|group B       |some high school           |free/reduced|none                   |18        |32           |28           |26.0              |
|male  |group C       |master's degree            |free/reduced|completed              |46        |42           |46           |44.666666666666664|
|female|group C       |associate's degree         |free/reduced|none                   |54        |58           |61           |57.666666666666664|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+------------------+
only showing top 20 rows

Get a Count of the Number of Boys and girls in the class

Apply the rank function over the overall average score that you had calculated previously.

Do the same exercises above but using a Pandas DataFrame instead.

#Python Practice Question
Concordia University has the following grading policy:

Every student receives a grade in the inclusive range from 0 to 100 . Any less than 40 is a failing grade.

Sam is a professor at the university and likes to round each student's grade according to these rules: If the difference between the grade and the next multiple of 5 is less than 3, round up to the next multiple of 5. If the value of the grade is less than 38, no rounding occurs as the result will still be a failing grade. For example, grade = 84 will be rounded to 85 but grade = 29 will not be rounded because the rounding would result in a number that is less than 40.

Given the initial value of grade for each of Sam's students, write code to automate the rounding process.
Examples



```
round to  (85 - 84 is less than 3)
 do not round (result is less than 40)
 do not round (60 - 57 is 3 or higher)
```




```
Sample Input
0
4
73
67
38
33

Sample Output 
0
4
75
67
40
33
```

In [6]:
def Students(grades):

    for x,y in enumerate(grades):
        if(y>=38) and (y%5)>=3:
            grades[x]=y+5-(y%5)
    return (grades)

grades = [0, 4, 73, 67, 38, 33]
Students(grades)

[0, 4, 75, 67, 40, 33]