<a href="https://colab.research.google.com/github/gtoubian/cce/blob/main/3_5_PySpark_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Warmup
Import the numpy, pandas, matplotlib and pyspark packages in the cell below.

In [90]:
!pip install pyspark
from pyspark.sql import SparkSession
import pandas as pd
import matplotlib.pyplot as plt

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

#Exercise
We are going to be using data on Student Performance during exams. Obtain the data from the following url and set up a Schema for it which you will load into pySpark. https://www.kaggle.com/spscientist/students-performance-in-exams. Set up the PySpark object and create a DataFrame on PySpark for the dataset.

In [91]:
from google.colab import files
data = files.upload()

Saving StudentsPerformance.csv to StudentsPerformance (8).csv

In [92]:
spark = SparkSession.builder\
        .master("local[*]")\
        .appName('PySpark_Tutorial')\
        .getOrCreate()

In [93]:
my_spark = SparkSession.builder.getOrCreate()

In [94]:
from pyspark.sql.types import *

data_schema = [
               StructField('gender', StringType(), True),
               StructField('race/ethnicity', StringType(), True),
               StructField('parental level of education', StringType(), True),
               StructField('lunch', StringType(), True),
               StructField('test preparation course', StringType(), True),
               StructField('math score', IntegerType(), True),
               StructField('reading score', IntegerType(), True),
               StructField('writing score', IntegerType(), True),

            ]

final_struc = StructType(fields = data_schema)

data = spark.read.csv('StudentsPerformance.csv',sep = ',', header = True, schema = final_struc)

In [95]:
data.show(10)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|
|female|       group B|         associate's degree|    standard|                   none|        71|           83|           78|
|female|       group B|               some college|    standard|              completed|        88|           95|           92|
|  male|       group B|               some college|free/reduced|                   none|        40|           43|           39|
|  male|       group D|                high school|free/reduced|              completed|        64|           64|           67|
|female|       group B|                high school|free/reduced|                   none|        38|           60|           50|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 10 rows

Get an average score for each student using their math, reading and writing scores.

In [96]:
from pyspark.sql.functions import col

scorescolumns = [col('math score'), col('reading score'), col('writing score')]

averagefc = sum(x for x in scorescolumns)/len(scorescolumns)

data.withColumn('average score', averagefc).show(truncate=False)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+------------------+
|gender|race/ethnicity|parental level of education|lunch       |test preparation course|math score|reading score|writing score|average score     |
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+------------------+
|female|group B       |bachelor's degree          |standard    |none                   |72        |72           |74           |72.66666666666667 |
|female|group C       |some college               |standard    |completed              |69        |90           |88           |82.33333333333333 |
|female|group B       |master's degree            |standard    |none                   |90        |95           |93           |92.66666666666667 |
|male  |group A       |associate's degree         |free/reduced|none                   |47        |57           |44           |49.333333333333336|
|male  |group C       |some college               |standard    |none                   |76        |78           |75           |76.33333333333333 |
|female|group B       |associate's degree         |standard    |none                   |71        |83           |78           |77.33333333333333 |
|female|group B       |some college               |standard    |completed              |88        |95           |92           |91.66666666666667 |
|male  |group B       |some college               |free/reduced|none                   |40        |43           |39           |40.666666666666664|
|male  |group D       |high school                |free/reduced|completed              |64        |64           |67           |65.0              |
|female|group B       |high school                |free/reduced|none                   |38        |60           |50           |49.333333333333336|
|male  |group C       |associate's degree         |standard    |none                   |58        |54           |52           |54.666666666666664|
|male  |group D       |associate's degree         |standard    |none                   |40        |52           |43           |45.0              |
|female|group B       |high school                |standard    |none                   |65        |81           |73           |73.0              |
|male  |group A       |some college               |standard    |completed              |78        |72           |70           |73.33333333333333 |
|female|group A       |master's degree            |standard    |none                   |50        |53           |58           |53.666666666666664|
|female|group C       |some high school           |standard    |none                   |69        |75           |78           |74.0              |
|male  |group C       |high school                |standard    |none                   |88        |89           |86           |87.66666666666667 |
|female|group B       |some high school           |free/reduced|none                   |18        |32           |28           |26.0              |
|male  |group C       |master's degree            |free/reduced|completed              |46        |42           |46           |44.666666666666664|
|female|group C       |associate's degree         |free/reduced|none                   |54        |58           |61           |57.666666666666664|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+------------------+
only showing top 20 rows

Get a Count of the Number of Boys and girls in the class

In [97]:
data.groupBy('gender').count().show()

+------+-----+
|gender|count|
+------+-----+
|female|  518|
|  male|  482|
+------+-----+

Apply the rank function over the overall average score that you had calculated previously.

In [98]:
data = data.withColumn('average score', averagefc)

In [100]:
from pyspark.sql import Window
windowSpec = Window.orderBy(desc('average score'))
import pyspark.sql.functions as f
from pyspark.sql.functions import desc
data.withColumn("average score", f.dense_rank().over(windowSpec)).show(10, truncate = False)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-------------+
|gender|race/ethnicity|parental level of education|lunch       |test preparation course|math score|reading score|writing score|average score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-------------+
|female|group E       |bachelor's degree          |standard    |none                   |100       |100          |100          |1            |
|male  |group E       |bachelor's degree          |standard    |completed              |100       |100          |100          |1            |
|female|group E       |associate's degree         |standard    |none                   |100       |100          |100          |1            |
|female|group E       |bachelor's degree          |standard    |completed              |99        |100          |100          |2            |
|female|group D       |some high school           |standard    |completed              |97        |100          |100          |3            |
|female|group D       |some college               |standard    |none                   |98        |100          |99           |3            |
|female|group C       |bachelor's degree          |standard    |completed              |96        |100          |100          |4            |
|male  |group D       |some college               |standard    |completed              |100       |97           |99           |4            |
|male  |group E       |associate's degree         |free/reduced|completed              |100       |100          |93           |5            |
|female|group E       |master's degree            |standard    |completed              |94        |99           |100          |5            |
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-------------+
only showing top 10 rows

Do the same exercises above but using a Pandas DataFrame instead.

In [111]:
df = pd.read_csv ('StudentsPerformance.csv')

In [112]:
df

     gender race/ethnicity  ... reading score writing score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]

In [113]:
df['average score'] = df[['math score','reading score','writing score']].mean(axis=1)

In [114]:
df

     gender race/ethnicity  ... writing score average score
0    female        group B  ...            74     72.666667
1    female        group C  ...            88     82.333333
2    female        group B  ...            93     92.666667
3      male        group A  ...            44     49.333333
4      male        group C  ...            75     76.333333
..      ...            ...  ...           ...           ...
995  female        group E  ...            95     94.000000
996    male        group C  ...            55     57.333333
997  female        group C  ...            65     65.000000
998  female        group D  ...            77     74.333333
999  female        group D  ...            86     83.000000

[1000 rows x 9 columns]

In [115]:
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [126]:
df["average rank"] = df["average score"].rank(method = 'dense')

In [127]:
df

     gender race/ethnicity  ... average score average rank
0    female        group B  ...     72.666667        119.0
1    female        group C  ...     82.333333        148.0
2    female        group B  ...     92.666667        179.0
3      male        group A  ...     49.333333         49.0
4      male        group C  ...     76.333333        130.0
..      ...            ...  ...           ...          ...
995  female        group E  ...     94.000000        183.0
996    male        group C  ...     57.333333         73.0
997  female        group C  ...     65.000000         96.0
998  female        group D  ...     74.333333        124.0
999  female        group D  ...     83.000000        150.0

[1000 rows x 10 columns]

In [129]:
df.sort_values(by='average rank', ascending = True)

     gender race/ethnicity  ... average score average rank
59   female        group C  ...      9.000000          1.0
980  female        group B  ...     18.333333          2.0
596    male        group B  ...     23.000000          3.0
327    male        group A  ...     23.333333          4.0
76     male        group E  ...     26.000000          5.0
..      ...            ...  ...           ...          ...
179  female        group D  ...     99.000000        192.0
114  female        group E  ...     99.666667        193.0
458  female        group E  ...    100.000000        194.0
916    male        group E  ...    100.000000        194.0
962  female        group E  ...    100.000000        194.0

[1000 rows x 10 columns]

#Python Practice Question
Concordia University has the following grading policy:

Every student receives a grade in the inclusive range from 0 to 100 . Any less than 40 is a failing grade.

Sam is a professor at the university and likes to round each student's grade according to these rules: If the difference between the grade and the next multiple of 5 is less than 3, round up to the next multiple of 5. If the value of the grade is less than 38, no rounding occurs as the result will still be a failing grade. For example, grade = 84 will be rounded to 85 but grade = 29 will not be rounded because the rounding would result in a number that is less than 40.

Given the initial value of grade for each of Sam's students, write code to automate the rounding process.
Examples



```
round to  (85 - 84 is less than 3)
 do not round (result is less than 40)
 do not round (60 - 57 is 3 or higher)
```




```
Sample Input
0
4
73
67
38
33

Sample Output 
0
4
75
67
40
33
```

In [ ]:
def Students(grades):

    for x,y in enumerate(grades):
        if(y>=38) and (y%5)>=3:
            grades[x]=y+5-(y%5)
    return (grades)

grades = [0, 4, 73, 67, 38, 33]
Students(grades)

[0, 4, 75, 67, 40, 33]