<a href="https://colab.research.google.com/github/gtoubian/cce/blob/main/4_2_Hypothesis_Testing_Workshop_Gabriel_Toubian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Gabriel Toubian** - gtoubian@gmail.com

#NOTE:
Please insert a text cell at the top of the Notebook with your Full Name in Bold and your email that you use for both Journey and Github

Also, add to the title of the notebook, an underscore as well as your name.

Ex. 'Workshop_Hypothesis_Testing_Usama'

#Warmup

Import pandas, numpy, scipy.stats, statsmodels.api & statsmodels.formula.api.ols

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sc
import statsmodels.api as sm
from statsmodels.formula.api import ols

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

#Hypothesis Testing

##Iris Data
It is believed that the average sepal length of the setosa species is 4 cm. Use the Iris data set as well as the appropriate test to determine if we have evidence to reject this claim.

In [2]:
url = "https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv"
df = pd.read_csv(url)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
#T-Test

score = np.array(df['sepal_length'])
sc.ttest_1samp(score, 4.0)

Ttest_1sampResult(statistic=27.263680640799215, pvalue=8.764592435410748e-60)

p-value is less than 0.05 so we can reject the null hypothesis

Use an appropriate test to see if there is a significant difference in the average sepal width between the versicolor and virginica species.

In [4]:
versi = np.array(df[df["species"]=="versicolor"]["sepal_width"])
virgin = np.array(df[df["species"]=="virginica"]["sepal_width"])

sc.ttest_ind(versi, virgin, equal_var=False)

Ttest_indResult(statistic=-3.2057607502218186, pvalue=0.001819483482104968)

In [ ]:
p-value is less than 0.05 so no statistical difference

##Robberies in Toronto

Download the Robberies in Toronto Data Set from this link (https://data.torontopolice.on.ca/datasets/robbery-2014-to-2019?geometry=-79.896%2C43.627%2C-78.853%2C43.800) and read it into a DataFrame. Use an appropriate test to see if whether the Robbery occured on a weekend affected whether the Robbery would occur in the Day or in the Night. 

**HINT:** You may assume that day hours are from 6 am to 6 pm. Before carrying out your analysis, you must modify your data frame such that each row has a column saying whether the crime occured over the weekend or not as well as a column saying whether the crime occured during the day or night.

In [6]:
from google.colab import files
data = files.upload()

Saving Robbery.csv to Robbery.csv

In [7]:
import io
robbery = pd.read_csv(io.BytesIO(data['Robbery.csv']))

In [8]:
robbery.head()

             X            Y  Index_  ...       Long        Lat ObjectId
0 -8822362.649  5423352.254    2150  ... -79.252632  43.727394        1
1 -8833352.599  5413356.045    2158  ... -79.351356  43.662468        2
2 -8833352.599  5413356.045    2159  ... -79.351356  43.662468        3
3 -8832786.117  5415849.969    2165  ... -79.346268  43.678673        4
4 -8834139.049  5415810.627    2173  ... -79.358421  43.678417        5

[5 rows x 29 columns]

In [23]:
robbery.loc[(robbery['occurrencedayofweek'] == 'Saturday') | (robbery['occurrencedayofweek'] == 'Sunday'), 'weekdayorend'] = 'Weekend'
robbery.loc[(robbery['occurrencedayofweek'] != 'Saturday') | (robbery['occurrencedayofweek'] != 'Sunday'), 'weekdayorend'] = 'Weekday'

In [22]:
robbery.head()

             X            Y  Index_  ... ObjectId weekdayorend time
0 -8822362.649  5423352.254    2150  ...        1      Weekday  day
1 -8833352.599  5413356.045    2158  ...        2      Weekday  day
2 -8833352.599  5413356.045    2159  ...        3      Weekday  day
3 -8832786.117  5415849.969    2165  ...        4      Weekday  NaN
4 -8834139.049  5415810.627    2173  ...        5      Weekday  NaN

[5 rows x 31 columns]

In [20]:
robbery.loc[(robbery['occurrencehour'] >=6) & (robbery['occurrencehour'] <= 18), 'time'] = 'day'
robbery.loc[(robbery['occurrencehour'] < 6) & (robbery['occurrencehour'] > 18), 'time'] = 'night'

In [19]:
robbery.head()

             X            Y  Index_  ... ObjectId weekdayorend time
0 -8822362.649  5423352.254    2150  ...        1      Weekday  day
1 -8833352.599  5413356.045    2158  ...        2      Weekday  day
2 -8833352.599  5413356.045    2159  ...        3      Weekday  day
3 -8832786.117  5415849.969    2165  ...        4      Weekday  NaN
4 -8834139.049  5415810.627    2173  ...        5      Weekday  NaN

[5 rows x 31 columns]

##Stroke Prediction

Load the following dataset off Kaggle: https://www.kaggle.com/fedesoriano/stroke-prediction-dataset

We are interested in creating a model that can predict someone's BMI based on certain features. Use the appropriate test to determine if Hypertension and whether someone has been married or not affects their BMI.