<a href="https://colab.research.google.com/github/gtoubian/cce/blob/main/4_2_Hypothesis_Testing_Workshop_Gabriel_Toubian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Gabriel Toubian** - gtoubian@gmail.com

#NOTE:
Please insert a text cell at the top of the Notebook with your Full Name in Bold and your email that you use for both Journey and Github

Also, add to the title of the notebook, an underscore as well as your name.

Ex. 'Workshop_Hypothesis_Testing_Usama'

#Warmup

Import pandas, numpy, scipy.stats, statsmodels.api & statsmodels.formula.api.ols

In [16]:
import pandas as pd
import numpy as np
import scipy.stats as sc
import statsmodels.api as sm
from statsmodels.formula.api import ols

#Hypothesis Testing

##Iris Data
It is believed that the average sepal length of the setosa species is 4 cm. Use the Iris data set as well as the appropriate test to determine if we have evidence to reject this claim.

In [ ]:
url = "https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv"
df = pd.read_csv(url)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#T-Test

score = np.array(df['sepal_length'])
sc.ttest_1samp(score, 4.0)

Ttest_1sampResult(statistic=27.263680640799215, pvalue=8.764592435410748e-60)

p-value is less than 0.05 so we can reject the null hypothesis

Use an appropriate test to see if there is a significant difference in the average sepal width between the versicolor and virginica species.

In [ ]:
versi = np.array(df[df["species"]=="versicolor"]["sepal_width"])
virgin = np.array(df[df["species"]=="virginica"]["sepal_width"])

sc.ttest_ind(versi, virgin, equal_var=False)

Ttest_indResult(statistic=-3.2057607502218186, pvalue=0.001819483482104968)

In [ ]:
#p-value is less than 0.05 so there is significant difference

##Robberies in Toronto

Download the Robberies in Toronto Data Set from this link (https://data.torontopolice.on.ca/datasets/robbery-2014-to-2019?geometry=-79.896%2C43.627%2C-78.853%2C43.800) and read it into a DataFrame. Use an appropriate test to see if whether the Robbery occured on a weekend affected whether the Robbery would occur in the Day or in the Night. 

**HINT:** You may assume that day hours are from 6 am to 6 pm. Before carrying out your analysis, you must modify your data frame such that each row has a column saying whether the crime occured over the weekend or not as well as a column saying whether the crime occured during the day or night.

In [17]:
from google.colab import files
data = files.upload()

Saving Robbery.csv to Robbery (1).csv

In [18]:
import io
robbery = pd.read_csv(io.BytesIO(data['Robbery.csv']))

In [19]:
import io
robberytest = pd.read_csv(io.BytesIO(data['Robbery.csv']))

In [20]:
robbery.head()

             X            Y  Index_  ...       Long        Lat ObjectId
0 -8822362.649  5423352.254    2150  ... -79.252632  43.727394        1
1 -8833352.599  5413356.045    2158  ... -79.351356  43.662468        2
2 -8833352.599  5413356.045    2159  ... -79.351356  43.662468        3
3 -8832786.117  5415849.969    2165  ... -79.346268  43.678673        4
4 -8834139.049  5415810.627    2173  ... -79.358421  43.678417        5

[5 rows x 29 columns]

In [56]:
robbery['occurrencedayofweek'] = robbery['occurrencedayofweek'].str.replace(" ","")

In [57]:
robbery.loc[(robbery['occurrencedayofweek'] == 'Sunday'), 'weekdayorend'] = 'Weekend'

In [58]:
robbery.loc[(robbery['occurrencedayofweek'] == 'Saturday'), 'weekdayorend'] = 'Weekend'

In [ ]:
robbery.loc[(robbery['occurrencedayofweek'] == 'Monday') | 'weekdayorend'] = 'Weekday'

In [ ]:
robbery.loc[(robbery['occurrencedayofweek'] == 'Tuesday') | 'weekdayorend'] = 'Weekday'

In [ ]:
robbery.loc[(robbery['occurrencedayofweek'] == 'Wednesday') | 'weekdayorend'] = 'Weekday'

In [ ]:
robbery.loc[(robbery['occurrencedayofweek'] == 'Thursday') | 'weekdayorend'] = 'Weekday'

In [ ]:
robbery.loc[(robbery['occurrencedayofweek'] == 'Friday') | 'weekdayorend'] = 'Weekday'

In [55]:
robbery.head(50)

              X            Y  Index_  ... ObjectId weekdayorend   time
0  -8822362.649  5423352.254    2150  ...        1      Weekday    day
1  -8833352.599  5413356.045    2158  ...        2      Weekday    day
2  -8833352.599  5413356.045    2159  ...        3      Weekday    day
3  -8832786.117  5415849.969    2165  ...        4      Weekday  night
4  -8834139.049  5415810.627    2173  ...        5      Weekday  night
5  -8833159.805  5415748.382    2178  ...        6      Weekday    day
6  -8830369.003  5437043.260    2197  ...        7      Weekday  night
7  -8836158.685  5412460.894    2201  ...        8      Weekday    day
8  -8824339.828  5435652.698    2216  ...        9      Weekday  night
9  -8827553.577  5426992.808    2225  ...       10      Weekday    day
10 -8828395.231  5417141.227    2231  ...       11      Weekday  night
11 -8836705.643  5410347.543    2233  ...       12      Weekday    day
12 -8839621.289  5429836.198    2239  ...       13      Weekday    day
13 -8835967.594  5413077.219    2256  ...       14      Weekday  night
14 -8843191.740  5412821.298    2273  ...       15      Weekday  night
15 -8828462.334  5421051.336    2278  ...       16      Weekday    day
16 -8852739.579  5411007.741    2281  ...       17      Weekday    day
17 -8850968.786  5422967.362    2282  ...       18      Weekday  night
18 -8840750.002  5416350.827    2293  ...       19      Weekday  night
19 -8824380.593  5437640.617    2300  ...       20      Weekday  night
20 -8824380.593  5437640.617    2301  ...       21      Weekday  night
21 -8854106.104  5421781.624    2308  ...       22      Weekday    day
22 -8835848.694  5414099.221    5140  ...       23      Weekday  night
23 -8854106.104  5421781.624    2309  ...       24      Weekday    day
24 -8836693.743  5412578.878    2327  ...       25      Weekday  night
25 -8838777.933  5410584.628    2340  ...       26      Weekday  night
26 -8836922.215  5413305.557    2356  ...       27      Weekday  night
27 -8827890.753  5433069.880    2363  ...       28      Weekday    day
28 -8835591.357  5411353.396    2374  ...       29      Weekday    day
29 -8827333.610  5419475.231    2384  ...       30      Weekday  night
30 -8833975.142  5416659.707    2385  ...       31      Weekday    day
31 -8853396.086  5418077.338    2389  ...       32      Weekday    day
32 -8842104.638  5422218.774    2407  ...       33      Weekday  night
33 -8830326.546  5431111.777    2411  ...       34      Weekday  night
34 -8822424.654  5424614.010    2417  ...       35      Weekday    day
35 -8838567.305  5412708.588    2424  ...       36      Weekday    day
36 -8833250.686  5433561.680    2426  ...       37      Weekday  night
37 -8856131.684  5421743.442    2429  ...       38      Weekday  night
38 -8856131.684  5421743.442    2430  ...       39      Weekday  night
39 -8843912.800  5415633.897    2441  ...       40      Weekday  night
40 -8818399.820  5425105.944    2444  ...       41      Weekday    day
41 -8850088.917  5429651.553    2448  ...       42      Weekday    day
42 -8850088.917  5429651.553    2449  ...       43      Weekday    day
43 -8850088.917  5429651.553    2450  ...       44      Weekday    day
44 -8830326.546  5431111.777    2456  ...       45      Weekday  night
45 -8854477.243  5426983.407    2463  ...       46      Weekday    day
46 -8854477.243  5426983.407    2464  ...       47      Weekday    day
47 -8851796.001  5425666.088    2475  ...       48      Weekday    day
48 -8851796.001  5425666.088    2476  ...       49      Weekday    day
49 -8851371.351  5425200.563    2489  ...       50      Weekday    day

[50 rows x 31 columns]

In [52]:
robbery.loc(robbery['occurrencedayofweek']['Sat'])

KeyError: ignored

In [34]:
robbery.loc[(robbery['occurrencehour'] >=6) & (robbery['occurrencehour'] <= 18), 'time'] = 'day'

In [35]:
robbery.loc[(robbery['occurrencehour'] < 6) | (robbery['occurrencehour'] > 18), 'time'] = 'night'

In [36]:
robbery

                 X            Y  Index_  ... ObjectId weekdayorend   time
0     -8822362.649  5423352.254    2150  ...        1          NaN    day
1     -8833352.599  5413356.045    2158  ...        2          NaN    day
2     -8833352.599  5413356.045    2159  ...        3          NaN    day
3     -8832786.117  5415849.969    2165  ...        4          NaN  night
4     -8834139.049  5415810.627    2173  ...        5          NaN  night
...            ...          ...     ...  ...      ...          ...    ...
21538 -8853863.204  5402824.728  195443  ...    21539          NaN  night
21539 -8849811.186  5413826.821  195454  ...    21540          NaN    day
21540 -8837757.923  5414565.340  195459  ...    21541          NaN    day
21541 -8837757.923  5414565.340  195460  ...    21542          NaN    day
21542 -8843939.973  5414011.749  195461  ...    21543          NaN    day

[21543 rows x 31 columns]

##Stroke Prediction

Load the following dataset off Kaggle: https://www.kaggle.com/fedesoriano/stroke-prediction-dataset

We are interested in creating a model that can predict someone's BMI based on certain features. Use the appropriate test to determine if Hypertension and whether someone has been married or not affects their BMI.

In [ ]:
from google.colab import files
data = files.upload()

Saving healthcare.csv to healthcare (1).csv

In [ ]:
health = pd.read_csv(io.BytesIO(data['healthcare.csv']))

In [ ]:
health.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

In [ ]:
#Two way ANOVA:

health1 = health[["hypertension", "ever_married", "bmi"]]
model = ols('bmi ~ C(ever_married) + C(hypertension) + C(ever_married):C(hypertension)', data = health1).fit()

In [ ]:
sm.stats.anova_lm(model, typ=2)

                                        sum_sq  ...         PR(>F)
C(ever_married)                   30745.470969  ...  1.468201e-120
C(hypertension)                    3922.790936  ...   1.287162e-17
C(ever_married):C(hypertension)    1941.001846  ...   1.723698e-09
Residual                         261544.455913  ...            NaN

[4 rows x 4 columns]