<a href="https://colab.research.google.com/github/gtoubian/cce/blob/main/Pre_Lec_Python_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Today we're going to go through more python questions to get you thinking about the language in different contexts

## List Comprehension Practice

a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Write a loop that returns only the even numbers. Then write that loop using only one line.

In [3]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
evens = []

for x in a:
  if x%2 ==0:
    evens.append(x)
print(evens)

[4, 16, 36, 64, 100]

In [4]:
[x for x in a if x%2==0]

[4, 16, 36, 64, 100]

## Arithmetic  

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).

In [5]:
l = []
for i in range(2000,3201):
  if i%7==0 and i%5 !=0:
    l.append(i)

print(l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

## Max repetition

Given a string s, the power of the string is the maximum length of a non-empty substring that contains only one unique character.

Return the power of the string.

Example 1:
Input: s = "leetcode"
Output: 2
Explanation: The substring "ee" is of length 2 with the character 'e' only.

Example 2:
Input: s = "abbcccddddeeeeedcba"
Output: 5
Explanation: The substring "eeeee" is of length 5 with the character 'e' only.

Example 3:
Input: s = "triplepillooooow"
Output: 5

Example 4:
Input: s = "hooraaaaaaaaaaay"
Output: 11

Example 5:
Input: s = "tourist"
Output: 1

In [7]:
def max_repeat(s):
  previous = None
  count = 0
  max_count = 0
  for letter in s:
    if letter == previous:
      count += 1
    else:
      previous = letter
      count = 1
    max_count = (max(max_count, count))
  return max_count

max_repeat("abbcccddddeeeeedcba")

5

## Anagram

Given a list of strings, write a program that returns all the words that are anagrams of another word in the list

input = ['EARTH', 'DOG', 'GOD', 'HEART', 'HORSE', 'HOARSE']

In [13]:
input = ['EARTH', 'DOG', 'GOD', 'HEART', 'HORSE', 'HOARSE']

anagrams = []

def anagrams_sorter(x):
  for word1 in input:
    for word2 in input:
      if word1 != word2 and (sorted(word1) == sorted(word2)):
        anagrams.append(word1)
        anagrams.append(word2)
  return list(set(anagrams))

print(anagrams_sorter(input))

['EARTH', 'HEART', 'GOD', 'DOG']