<a href="https://colab.research.google.com/github/gtoubian/cce/blob/main/Workshop_Python_Function_Hockey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Gabriel Toubian** - gtoubian@gmail.com

**NOTE:**

Please insert a text cell at the top of the Notebook with your Full Name in Bold and your email that you use for both Journey and Github

Also, add to the title of the notebook, an underscore as well as your favourite sport beside it.

Ex. 'Workshop_Python_Function_Powerlifting'

# Warm Up

Create a function that takes two numbers as arguments and return their sum.
Examples

addition(3, 2) ➞ 5

addition(-3, -6) ➞ -9

addition(7, 3) ➞ 10

Generate a Python list of all the even numbers between 4 to 3048

# First and Last 

Creates a function that takes a string and returns the first and last character.
### Examples

```
first_last("ganesh") ➞ "gh"

first_last("kali") ➞ "ki"

first_last("shiva") ➞ "sa"

first_last("vishnu") ➞ "vu"

first_last("durga") ➞ "da"
```

# Keys in Dict

Write a function that returns `True` if a dictionary contains the specified key, and `False` otherwise.

### Examples

```
has_key({ "a": 44, "b": 45, "c": 46 }, "d") ➞ False

has_key({ "craves": True, "midnight": True, "snack": True }, "morning") ➞ False

has_key({ "pot": 1, "tot": 2, "not": 3 }, "not") ➞ True
```

# Element Count

Write a function that count how many times each element in a list occurs. It should return a dict in the format `element -> count`

ex:
```
key_count([1, 3, 2, 1, 5, 3, 5, 1, 4]) ⇒ {
    1: 3,
    2: 1,
    3: 2,
    4: 1,
    5: 2,
}
```

In [ ]:
numbers = [1, 3, 2, 1, 5, 3, 5, 1, 4]

# Test Distinct

Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

**Hint:** Think about the properties of sets.

```
test_distinct([2,3,4,5,7,8]) -> True
test_distinct([2,3,4,5,8,8]) -> False
```



Write a Python program to compute the amount of the debt in n months. The borrowing amount is $100,000 and the loan adds 5% interest of the debt and rounds it to the nearest 1,000 above month by month.

The function takes in an integer (the number of months) and returns the total debt including the starting \$100,000 rounded to \$1000 .

```
debt_total(7) -> 144000
debt_total(8) -> 152000
debt_total(9) -> 160000
debt_total(1) -> 105000
debt_total(57) -> 1736000
```

# Spell Checker

Create a function that takes in two lists: 

1. A sentence as a list of user-typed words

2. The list of correctly-typed words

and outputs a list containing 1s (correctly-typed words) and 0s (incorrectly-typed words).

### Inputs:
> User-typed: \["cat", "blue", "skt", "umbrells", "paddy"\]

> Correct: \["cat", "blue", "sky", "umbrella", "paddy"\]

### Output: \[ 1, 1, 0, 0, 1 \]

### Examples

```
correct_stream(
  ["it", "is", "find"],
  ["it", "is", "fine"]
) ➞ [1, 1, 0]

correct_stream(
  ["april", "showrs", "bring", "may", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
) ➞ [1, 0, 1, 1, 1]

```

# Century

Write a function that takes a year and returns its corresponding century.

### Examples

```
century_from_year(2005) ➞ 21

century_from_year(1850) ➞ 19

century_from_year(55) ➞ 1

```

# Grade school addition

Write a function that, given two lists of integers, adds them as if they were two numbers. So `12` would be `[1,2]` and `2357` would be `[2,3,5,7]`

Ex:

```
    [1, 1] + [1] ⇒ 11 + 1 = 12
    [9, 9] + [2] ⇒ 99 + 2 = 101
```

#Lucky Number 7

Write a function that sums up every element in a list. If the element is 7, multiply the element by 2 and then add it. If the element in the list comes after a 7, multiply it by 3 and then add it.

Ex.


```
x = [1,7,3,4]
lucky7(x) --> 28
```

# Factorial
Write a function that computes the factorial of a given number. In math the factorial of a non negative integer number is the product of itself with all integers less than itself starting from 1. 

Ex. 

$$4! = 4*3*2*1$$
$$4! = 24$$


```
factorial(4) --> 24
```

#Combinatrics
The binomial coefficient is an important function in combinatrics. The function is written as:
$$ \binom{n}{k} = \frac{n!}{k!(n-k)!}  $$

Define a function for the binomial coefficient in Python, making sure that n is greater than or equal to k. 

**Hint:** Use the factorial function that you defined in the previous exercise.


```
NChooseK(5,2) = 10
```

#Docstrings

Write the completed docstrings for each function covered in the "Big O Notation Examples" Section from lecture.

Docstring format is as follows:

```
"""[Summary]

:param [ParamName]: [ParamDescription], defaults to [DefaultParamVal]
:type [ParamName]: [ParamType](, optional)
...
:raises [ErrorType]: [ErrorDescription]
...
:return: [ReturnDescription]
:rtype: [ReturnType]
"""
```

In [ ]:
#O(1)

In [ ]:
#O(n)

In [ ]:
#O(n^2)

In [ ]:
#O(n^c)

In [ ]:
#O(log(n))

In [ ]:
#O(nlog(n))

In [ ]:
#O(2^n)

#Big O Notation

For the following functions, answer in the text cell below, the time complexity of the function using Big O notation.

Ex.


```
def findmin(L):
 min = L[0]
 for number in L:
  if number<min:
    min = number 
```
The function has O(n) time complexity.

In [ ]:
def reverse_string(n):
  solution = []
  for x in range(n):
    for y in range(n):
      if 4x + 3y <= 20:
        solution.append([x,y])
  return solution

The function has O(__) time complexity.

In [ ]:
def add_hundred(n):
  return n + 100

#n can only be an integer or float.

False

The function has O(__) time complexity.

# Bonus

## Pascal's Triangle

[Pascals Triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle) is a mathematical structure that's important in statistics and [combinatorics](https://en.wikipedia.org/wiki/Combinatorics). It starts with the number 1 and expands as a pyramid where a number is the sum of it's diagonal neighbors on the row above it.

It looks like this (you can find more examples in the links):

```
                 1
               1   1
             1   2   1
           1   3   3   1
         1   4   6   4   1
       1   5   10   10   5   1
     1   6   15   20   15   6   1
   1   7   21   35   35   21   7   1
```

Write a function that given an integer (the number of rows) prints out pascal's triangle up to the specified row. Example:

```
pascal_triangle(8)
```
out:
```
                 1

               1   1

             1   2   1

           1   3   3   1

         1   4   6   4   1

       1   5   10   10   5   1

     1   6   15   20   15   6   1

   1   7   21   35   35   21   7   1

```
Another example

```
pascal_triangle(3)
```
out:
```
                 1

               1   1

             1   2   1

```

'          '