<a href="https://colab.research.google.com/github/gtoubian/cce/blob/main/Workshop_Pandas_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NOTE:
Please insert a text cell at the top of the Notebook with your Full Name in Bold and your email that you use for both Journey and Github

Also, add to the title of the notebook, an underscore as well as your name.

Ex. 'Workshop_Pandas_Part_2_Usama'

#Warmup

Run the following lines in the cell below:


```
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sn

```

**Note:** You can run a cell by pressing 'Shift+Enter'

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sn

#Covid-19 Reporting

Run the cell below. We will be working with data on weekly reported Covid-19 cases in Toronto.

In [2]:
url = 'https://ckan0.cf.opendata.inter.prod-toronto.ca/download_resource/e5bf35bc-e681-43da-b2ce-0242d00922ad?format=csv'
covid = pd.read_csv(url)
covid.head()

     _id  Assigned_ID  ... Ever in ICU Ever Intubated
0  83475            1  ...          No             No
1  83476            2  ...          No             No
2  83477            3  ...          No             No
3  83478            4  ...          No             No
4  83479            5  ...          No             No

[5 rows x 18 columns]

In the cell below, call the 'Neighbourhood Name' column.

In [8]:
covid['Neighbourhood Name']

0                         Willowdale East
1                         Willowdale East
2                       Parkwoods-Donalda
3                   Church-Yonge Corridor
4                   Church-Yonge Corridor
                       ...
90960        Thistletown-Beaumond Heights
90961              Briar Hill - Belgravia
90962                        Mount Dennis
90963    Willowridge-Martingrove-Richview
90964                   East End-Danforth
Name: Neighbourhood Name, Length: 90965, dtype: object

Call every second row in the data frame. Call every third entry in the "Source of Infection" column.

In [9]:
covid.iloc[::2, :]

          _id  Assigned_ID  ... Ever in ICU Ever Intubated
0       83475            1  ...          No             No
2       83477            3  ...          No             No
4       83479            5  ...          No             No
6       83481            7  ...          No             No
8       83483            9  ...          No             No
...       ...          ...  ...         ...            ...
90956  174431        93359  ...          No             No
90958  174433        93361  ...          No             No
90960  174435        93363  ...          No             No
90962  174437        93365  ...          No             No
90964  174439        93367  ...          No             No

[45483 rows x 18 columns]

In [22]:
covid.iloc[3:3,'Source of Infection']

ValueError: ignored

Call all rows in the dataframe where the infected patient was female. Then call all rows in the dataframe where the patient was male, ever hospitalized and in their 60s.

Create 2 new columns in the dataframe, called 'Year' and 'Month' with the year and month values from the reported date columns respectively.

**HINT**
Your code should look like this.

```
Dates = pd.to_datetime(covid['Episode Date'])
covid['Dates'] = Dates
________ = covid['Dates'].dt.month
________ = covid['Dates'].dt.year
```

Now use the groupby function to group your entries in the data frame by Year and Month and print out the **mean** number of cases per month as well as the **total count** of cases per month. Make sure to save the number of cases per month as **Counts**.

**HINT**  To get the counts of cases per month, you can use this code. Fill in the blanks.


```
Year&Age = covid.groupby(['____', '____'])
Counts = Year&Age['_id'].agg(['____'])
print (Counts)
```

Plot the "Counts" groupby object on a line graph by running the following line below:

In [ ]:
Counts.plot()
plt.ylabel('# of Covid Cases')
plt.title('Covid Cases by Month in Toronto')
plt.show()

Try to create a new groupby object from the original data frame and group this data by "Client Gender". Get a count of the number of patients in each Client Gender category and plot the result on a bar graph. 

**HINT** You can plot the bar graph using the following code.

```
Counts.plot.bar()
plt.ylabel('# of Covid Cases')
plt.title('Covid Cases by Gender in Toronto')
plt.show()
```

#Interview Questions

##Best Time to Buy and Sell Stock

You are given an array prices where prices[i] is the price of a given stock on the ith day.

You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.



```
Input: prices = [7,1,5,3,6,4]
Output: 5
Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.
Note that buying on day 2 and selling on day 1 is not allowed because you must buy before you sell.
```



```
Input: prices = [7,6,4,3,1]
Output: 0
Explanation: In this case, no transactions are done and the max profit = 0.
```

#Basic Calculator

Given a string s which represents an expression, evaluate this expression and return its value. 

The integer division should truncate toward zero.



```
Input: s = "3+2*2"
Output: 7
```


```
Input: s = " 3/2 "
Output: 1
```

#BONUS

##Gas Station

There are n gas stations along a circular route, where the amount of gas at the ith station is gas[i].

You have a car with an unlimited gas tank and it costs cost[i] of gas to travel from the ith station to its next (i + 1)th station. You begin the journey with an empty tank at one of the gas stations.

Given two integer arrays gas and cost, return the starting gas station's index if you can travel around the circuit once in the clockwise direction, otherwise return -1. If there exists a solution, it is guaranteed to be unique



```
Input: gas = [1,2,3,4,5], cost = [3,4,5,1,2]
Output: 3
Explanation:
Start at station 3 (index 3) and fill up with 4 unit of gas. Your tank = 0 + 4 = 4
Travel to station 4. Your tank = 4 - 1 + 5 = 8
Travel to station 0. Your tank = 8 - 2 + 1 = 7
Travel to station 1. Your tank = 7 - 3 + 2 = 6
Travel to station 2. Your tank = 6 - 4 + 3 = 5
Travel to station 3. The cost is 5. Your gas is just enough to travel back to station 3.
Therefore, return 3 as the starting index.
```